<h1><%= @cat.name %></h1>


<table>
  <thead>
    <tr>
      <th colspan="2">Cat details:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Birth date: </td>
      <td><%= @cat.birth_date %><br></td>
    </tr>
    <tr>
      <td>Sex: </td>
      <td><%= @cat.sex %><br></td>
    </tr>
    <tr>
      <td>Color: </td>
      <td><%= @cat.color %><br></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><%= @cat.description %><br></td>
    </tr>
  </tbody>
</table>
